<?xml version='1.0' encoding='utf-8' ?>
<XML>
	<Object Id="GameServer_1" ServerID="6" Name="GameServer" MaxOnline="0" CpuCount="0" IP="127.0.0.1" Port="0" Type="6" Area="0"/>
	<Object Id="WorldServer_1" ServerID="7" Name="WorldServer" MaxOnline="0" CpuCount="0" IP="127.0.0.1" Port="0" Type="7" Area="0"/>
	<Object Id="ProxyServer_1" ServerID="5" Name="ProxyServer" MaxOnline="0" CpuCount="0" IP="127.0.0.1" Port="0" Type="5" Area="0"/>
	<Object Id="MasterServer_1" ServerID="3" Name="MasterServer" MaxOnline="0" CpuCount="0" IP="127.0.0.1" Port="0" Type="3" Area="0"/>
	<Object Id="LoginServer_1" ServerID="4" Name="LoginServer" MaxOnline="0" CpuCount="0" IP="127.0.0.1" Port="0" Type="4" Area="0"/>
	<Object Id="TutorialServer_1" ServerID="0" Name="TutorialServer" MaxOnline="0" CpuCount="0" IP="127.0.0.1" Port="0" Type="4" Area="0"/>
</XML>

