<XML>
	<GameServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFGameServerPlugin" />
		<Plugin Name="NFGameServerNet_ServerPlugin" />
		<Plugin Name="NFGameServerNet_ClientPlugin" />
		<Plugin Name="NFLogPlugin" />	
		<Plugin Name="NFLuaScriptPlugin" />
		<Plugin Name="NFUIPlugin" />
		<Plugin Name="NFBluePrintPlugin" />
	</GameServer>

	<LoginServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />	
		<Plugin Name="NFLoginNet_ServerPlugin" />
		<Plugin Name="NFLoginNet_ClientPlugin" />
		<Plugin Name="NFLoginLogicPlugin" />
		<Plugin Name="NFLoginNet_HttpServerPlugin" />
		<Plugin Name="NFLogPlugin" />	
		<Plugin Name="NFDBLogicPlugin" />
		<Plugin Name="NFNoSqlPlugin" />
	</LoginServer>

	<MasterServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFMasterServerPlugin" />
		<Plugin Name="NFMasterNet_ServerPlugin" />
		<Plugin Name="NFMasterNet_HttpServerPlugin" />
		<Plugin Name="NFLogPlugin" />	
	</MasterServer>

	<ProxyServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFProxyLogicPlugin" />
		<Plugin Name="NFProxyServerNet_ClientPlugin" />
		<Plugin Name="NFProxyServerNet_ServerPlugin" />
		<Plugin Name="NFLogPlugin" />
		<Plugin Name="NFSecurityPlugin" />		
	</ProxyServer>

	<WorldServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFWorldNet_ClientPlugin" />
		<Plugin Name="NFWorldNet_ServerPlugin" />
		<Plugin Name="NFDBLogicPlugin" />
		<Plugin Name="NFLogPlugin" />	
		<Plugin Name="NFSecurityPlugin" />
		<Plugin Name="NFNoSqlPlugin" />
	</WorldServer>
	<DBServer>
		<Plugin Name="NFNetPlugin" />
		<Plugin Name="NFKernelPlugin" />
		<Plugin Name="NFConfigPlugin" />
		<Plugin Name="NFDBNet_ClientPlugin" />
		<Plugin Name="NFDBNet_ServerPlugin" />
		<Plugin Name="NFLogPlugin" />
		<Plugin Name="NFDBLogicPlugin" />
		<Plugin Name="NFActorPlugin" />
		<Plugin Name="NFNoSqlPlugin" />
		<Plugin Name="NFSecurityPlugin" />
	</DBServer>
</XML>