# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.zip
*.gz

# Executables
*.exe
*.out
*.app
*.dll

# Visaul Studio
*.iobj
*.ipdb
*.idb
*.pdb
*.tlog
*.log
*.ilk
*.user
*.exp
*.vc.db
*.*.manifest
*.cache
*.bsc

# Codeblocks
*.layout
*.depend

# CMake
#[cC][mM]ake[lL]ists.txt


/BuildScript/linux/Build.Linux.Debug
/BuildScript/linux/Build.Linux.Release
/BuildScript/linux/Build.Tools


/_Out/Comm/*
/_Out/redis*
/_Out/Debug/
/_Out/Release/
/_Out/NFDataCfg/Tool/

/Dependencies/vcpkg
/Dependencies/gperftools-2.5
/Dependencies/lib
/Dependencies/boost_1_53_0
/Dependencies/curl-7.37.1
/Dependencies/libevent
/Dependencies/lua
/Dependencies/protobuf

/cmake-build-debug/*
/cmake-build-release/*
/build/*
/.idea/*


/Temp
/NoahFrame.v11.suo
/NoahFrame.opensdf
/*.opendb
/NoahFrame.sdf

/_Out/Debug
/_Out/Release
/_Out/NFDataCfg/client
/_Out/NFDataCfg/Tool/NFFileProcess
/_Out/NFDataCfg/Tool/NFFileProcess.exe

/_Out/Debug/*.ini
/_Out/Release/*.ini

/_Out/Comm/Debug/*.manifest
/_Out/Comm/Debug/*.exp
/_Out/Comm/Debug/*.ilk
/_Out/Comm/Debug/*.bsc
/_Out/Comm/Debug/*.pdb
/_Out/Comm/Debug/*.dll

/_Out/Comm/Release/*.manifest
/_Out/Comm/Release/*.exp
/_Out/Comm/Release/*.ilk
/_Out/Comm/Release/*.bsc
/_Out/Comm/Release/*.pdb
/_Out/Comm/Release/*.dll

NFComm/NFMessageDefine/protoc
NFComm/NFMessageDefine/protoc.exe

/_Out/Server/NFDataCfg/Ini/
/_Out/Server/NFDataCfg/Struct/
/_Out/Server/NFDataCfg/Proto/
/_Out/Server/Release/

/_Out/Server/Debug/*
/Dependencies/curl
/.vs/
/NoahFrame.VC.db

#OSX .DS_Store
.DS_Store
/_Out/NFDataCfg/proto
