<?xml version='1.0' encoding='utf-8' ?>
<XML>
	<Propertys>
		<Property Id="Area" Cache="FALSE" Desc="区服" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="int" Upload="FALSE" />
		<Property Id="CpuCount" Cache="FALSE" Desc="CPU个数（机器）" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="int" Upload="FALSE" />
		<Property Id="IP" Cache="FALSE" Desc="IP地址" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="string" Upload="FALSE" />
		<Property Id="MaxOnline" Cache="FALSE" Desc="作为服务器时：服务器最大连接" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="int" Upload="FALSE" />
		<Property Id="Name" Cache="FALSE" Desc="服务器名字" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="string" Upload="FALSE" />
		<Property Id="Port" Cache="FALSE" Desc="作为服务器时：相对客户端的port" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="int" Upload="FALSE" />
		<Property Id="ServerID" Cache="FALSE" Desc="服务器ID" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="int" Upload="FALSE" />
		<Property Id="Type" Cache="FALSE" Desc="服务器类型" Force="FALSE" Private="FALSE" Public="FALSE" Ref="FALSE" Save="FALSE" Type="int" Upload="FALSE" />
	</Propertys>
	<Records>
	</Records>
</XML>