<?xml version='1.0' encoding='utf-8' ?>
<XML>
	<Propertys>
		<Property Id="Area" Cache="0" Desc="" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="CpuCount" Cache="0" Desc="" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="IP" Cache="0" Desc="" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="string" Upload="0" />
		<Property Id="MaxOnline" Cache="0" Desc="" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="Port" Cache="0" Desc="tcp port" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="ServerID" Cache="0" Desc="Instance ID" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="Type" Cache="0" Desc="server type" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="UDPPort" Cache="0" Desc="udp port" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="WSPort" Cache="0" Desc="websocket port" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
		<Property Id="WebPort" Cache="0" Desc="http port" Force="0" Private="0" Public="0" Ref="0" Save="0" Type="int" Upload="0" />
	</Propertys>
	<Records>
	</Records>
	<Includes>
	</Includes>
</XML>