<XML>
	<Plugin Name="NFEventProcessPlugin" Main="1"/>
	<Plugin Name="NFKernelPlugin" Main="1"/>
	<Plugin Name="NFConfigPlugin" Main="1"/>
	<Plugin Name="NFProxyPlugin" Main="1"/>
	<Plugin Name="NFProxyServerNet_ClientPlugin" Main="1"/>
	<Plugin Name="NFProxyServerNet_ServerPlugin" Main="1"/>
</XML>