<XML>
	<Plugin Name="NFEventProcessPlugin" Main="0"/>
	<Plugin Name="NFKernelPlugin" Main="0"/>
	<Plugin Name="NFConfigPlugin" Main="0"/>
	<Plugin Name="NFProxyPlugin" Main="0"/>
	<Plugin Name="NFProxyServerNet_ClientPlugin" Main="1"/>
	<Plugin Name="NFProxyServerNet_ServerPlugin" Main="1"/>
	<Plugin Name="NFLogPlugin" Main="1"/>
	
	<ActorDataModule Name="NFCDataProcessModule" />
</XML>