<XML>
	<Plugin Name="NFKernelPlugin" Main="1"/>
	<Plugin Name="NFConfigPlugin" Main="1"/>
	<Plugin Name="NFProxyServerPlugin" Main="1"/>
	<Plugin Name="NFProxyServerNet_ClientPlugin" Main="1"/>
	<Plugin Name="NFProxyServerNet_ServerPlugin" Main="1"/>
	<Plugin Name="NFLogPlugin" Main="1"/>
	
	<ActorDataModule Name="NFCDataProcessModule" />
	<APPID Name="5" />
    <ConfigPath Name="../../" />
</XML>