<XML>
	<Plugin Name="NFDataNoSqlPlugin" Main="1"/>
	<Plugin Name="NFEventProcessPlugin" Main="0"/>
	<Plugin Name="NFKernelPlugin" Main="0"/>
	<Plugin Name="NFConfigPlugin" Main="0"/>
	<Plugin Name="NFGameServerPlugin" Main="0"/>
	<Plugin Name="NFGameServerNet_ServerPlugin" Main="1"/>
	<Plugin Name="NFGameServerNet_ClientPlugin" Main="1"/>
</XML>