<XML>
	<Plugin Name="NFKernelPlugin" Main="1"/>
	<Plugin Name="NFConfigPlugin" Main="1"/>
	<Plugin Name="NFWorldLogicPlugin" Main="1"/>
	<Plugin Name="NFWorldNet_ClientPlugin" Main="1"/>
	<Plugin Name="NFWorldNet_ServerPlugin" Main="1"/>
	<Plugin Name="NFLogPlugin" Main="1"/>	
	<Plugin Name="NFMysqlClusterPlugin" Main="1"/>
	<Plugin Name="NFDataBaseNet_ClientPlugin" Main="1"/>
	<Plugin Name="NFWorldChatPlugin" Main="1"/>
	
	<ActorDataModule Name="NFCDataProcessModule" />
	<APPID Name="7" />
    <ConfigPath Name="../../" />
</XML>