<XML>
	<Plugin Name="NFKernelPlugin" Main="1"/>
	<Plugin Name="NFConfigPlugin" Main="1"/>
	<Plugin Name="NFWorldLogicPlugin" Main="1"/>
	<Plugin Name="NFWorldNet_ClientPlugin" Main="1"/>
	<Plugin Name="NFWorldNet_ServerPlugin" Main="1"/>
	<Plugin Name="NFLogPlugin" Main="1"/>
	<Plugin Name="NFWorldNet_ServerPlugin" Main="1"/>
	<Plugin Name="NFNoSqlPlugin" Main="1"/>
	<Plugin Name="NFMysqlClusterPlugin" Main="1"/>
	<Plugin Name="NFDataAgent_NosqlPlugin" Main="1"/>
	
	<APPID Name="7" />
    <ConfigPath Name="../../" />
</XML>