@import "paper/variables";
@import "paper/mixins";

@import "paper/typography";

// Core CSS
@import "paper/misc";
@import "paper/sidebar-and-main-panel";
@import "paper/buttons";
@import "paper/inputs";

@import "paper/alerts";
@import "paper/tables";

@import "paper/checkbox-radio";
@import "paper/navbars";
@import "paper/footers";

// Fancy Stuff

@import "paper/dropdown";
@import "paper/cards";
@import "paper/chartist";
@import "paper/responsive";




